<form action="/payment/results">

<label for="69">APR</label>
<input id="69" type="text" placeholder="E.g 5.2" name="apr">

<label for="70">Number of years</label>
<input id="70" type="text" placeholder="How many years to repay?" name="num_years">

<label for="71">Principal</label>
<input id="71" type="text" placeholder="How much principal?" name="principal">

<button>Calculate monthly payment</button>

</form>