<form action="/random/results">

<label for="69">Minimum</label>
<input id="69" type="text" placeholder="E.g 1.5" name="user_min">

<label for="70">Maximum</label>
<input id="70" type="text" placeholder="E.g 4.5" name="user_max">

<button>Pick random number</button>

</form>