
<form action="/square/results">

<label for="69">Enter a number</label>

<input id="69" type="text" placeholder="What number do you want to square?" name="number">

<button>Calculate square</button>

</form>



