<form action="/square_root/results">

<label for="69">Enter a number</label>

<input id="69" type="text" placeholder="What number do you want to square root?" name="number">

<button>Calculate square root</button>

</form>